{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name, {
            'label': 'Name'
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.description, {
            'label': 'Description'
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.price, {
            'label': 'Price'
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.stock, {
            'label': 'Stock'
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.discount, {
            'label': 'Discount'
        }) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.categories, {
            'label': 'Categories'
        }) }}
    </div>
    <div class="mb-3">
        <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
        <a class="btn btn-outline-danger" href="{{ path('product_index') }}">Back to list</a>
    </div>
    {{ form_end(form) }}
    <div class="mb-3">
        <form method="post" action="{{ path('product_delete', {'id': product.id}) }}" style="display: inline-block">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
            <button class="btn btn-outline-warning" type="submit">Delete</button>
        </form>
    </div>
{% endblock %}
