{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Stock</th>
            <td>{{ product.stock }}</td>
        </tr>
        <tr>
            <th>Discount</th>
            <td>{{ product.discount }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>
    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    <form method="post" action="{{ path('product_delete', {'id': product.id}) }}" style="display: inline-block">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
        <button class="btn" type="submit">delete</button>
    </form>
{% endblock %}
