{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Search Results for "{{ query }}"</h1>
        <hr>
        <h2>Products</h2>
        {% if products is empty %}
            <p>No products found.</p>
        {% else %}
            <ul>
                {% for product in products %}
                    <li><a href="/product-category/{{ product.id }}">{{ product.name }} - {{ product.description }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2>Categories</h2>
        {% if categories is empty %}
            <p>No categories found.</p>
        {% else %}
            <ul>
                {% for category in categories %}
                    <li><a href="/product-category/{{ category.id }}">{{ category.name }} - {{ category.description }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}