{% extends 'base.html.twig' %}

{% block title %}Product Category index{% endblock %}

{% block body %}
    <h1>Product Categories</h1>

    <a href="{{ path('product_category_new') }}">Create new</a>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>{{ product_category.name }}</td>
                <td>
                    <a href="{{ path('product_category_show', {'id': product_category.id}) }}">show</a>
                    <a href="{{ path('product_category_edit', {'id': product_category.id}) }}">edit</a>
                    <form method="post" action="{{ path('product_category_delete', {'id': product_category.id}) }}" style="display: inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_category.id) }}">
                        <button class="btn" type="submit">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
